// ROBOTO FONTS
@font-face {
	font-family: 'Cabin';
	font-style: regular;
	font-weight: 500;
	src: url("../fonts/Cabin500.ttf") format("truetype"),	     
}

@font-face {
	font-family: 'Cabin';
	font-style: italic;	
	src: url("../fonts/CabinItalic500.ttf") format("truetype"),	     
}

@font-face {
	font-family: 'Cabin';
	font-style: medium;
	font-weight: 600;
	src: url("../fonts/Cabin600.ttf") format("truetype"),	     
}

@font-face {
	font-family: 'Cabin';
	font-style: semibold;
	font-weight: 700;
	src: url("../fonts/Cabin700.ttf") format("truetype"),	     
}

@font-face {
	font-family: 'Cabin';
	font-style: bold;
	font-weight: 800;
	src: url("../fonts/Cabin800.ttf") format("truetype"),	     
}
